{% extends 'base.html.twig' %}

{% block body %}
<div class=container>
    <div class="d-flex justify-content-between mb-5 mt-5" >
         <h1>Mon panier</h1> 
         {# <p>{{ film.quantity }}</p> #}
    </div>
</div>
    {# <div>
        <div class="d-flex justify-content-between border mb-1 p-4 " >
            <div class="d-flex" >
                <img class="mr-3" src="https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"style="width: 8rem;" >
                    <div>
                        <h2>film title </h2>
                        <p> film resume</p>
                    </div>
            </div> #}
   
{% if films | length > 0 %}
<div class= 'container'>
<table class="table">
    <thead>
        <tr>
            <th>Titre du film</th>
            <th>Quantité</th>
            {# <th>Prix</th> #}
            {# <th>Total</th> #}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
            <tr>
            <td>{{ film.film.title }}</td>
            {# <td>{{ film.film.price }}</td> #}
            <td>{{ film.quantity }}</td>
            {# <td>{{ film.film.price * film.quantity }}</td> #}
            <td>
                {# <a href="" class="btn btn-danger btn-sm">
                    Retirer article {#<i class="fas fa-trash"></i>#}
                {# </a> #}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {# <td colspan="3" class="text-right"> Total : </td> #}
            {# <td>{{ total }}</td> #}
        </tr>
    </tfoot>
</table>
{% else %}
<p> Surprise ! ton panier est encore vide ! </p>
{% endif %}
             <div class="d-flex justify-content-between">
                <a class="btn btn-danger mt-5" href="{{ path('remove_all')}}">Vider panier</a>
                <a class="btn btn-dark mt-5" href="{{ path('order')}}">Valider panier</a>

            </div>
            

</div>
{% endblock %}

