{% extends 'base.html.twig' %}

{% block title %}
Simply Films | Inscription 
{% endblock %}


{% block body %}
<br>
    <h1>Inscription</h1> 
  
    {{ form_start(form) }}
    
    {{ form_row(form.name, {'label_attr': {class: 'form-group'}, 'label': 'Nom d\'utilisateur','attr': {'placeholder': 'Nom'}}) }}
    
    {{ form_row(form.email, {'label': 'Email','attr': {'placeholder': 'nom@mail.fr'} }) }}

    {{ form_row(form.password, {'label': 'Mot de passe','attr': {'placeholder': 'Entrez votre mot de passe'}}) }}

    {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder':'Répétez votre mot de passe'}}) }}

    <button type="submit" class="btn btn-success">Inscription</button> 

    {{ form_end(form) }}

    Déjà inscrit? <a href="/">Connectez-vous.</a> 
  

{% endblock %}      