{% extends 'base.html.twig' %}


{% block title %}
    Simply Films | Ajouter un film
{% endblock %}
{% block body %}

<div class=container>
<br>

<h1>Modifier un film </h1>
<br>
<p>Film à modifier</p> 
        <div> 
            <h5>{{movies.title}}</h5> 
        </div>
 
    {{form_start(form)}}

        {{ form_row(form.resume) }}
        {{ form_row(form.year) }}
        {{ form_row(form.released) }}   
        {{form_row(form.runtime)}}
        {{form_row(form.genre)}}
        {{form_row(form.director)}}   
        {{form_row(form.language)}}
        {{form_row(form.country)}}
        {{form_row(form.awards)}}
        {{form_row(form.poster)}}
        {{form_row(form.type)}}   
        {{form_row(form.DVD)}}
        {{form_row(form.Production)}}
        {{form_row(form.available)}}

    <button type="submit" class="btn btn-success">Enregistrer les modifications</button> <br>

{{form_end(form)}}


</div>


{% endblock %}
